html {
    font-size: 10px;
}

body {
    font-family: Geometria, 'sans-serif';
}

/*h1, h2, h3, h4, h5, h6 {*/
/*    font-family: Geometria-Bold, 'sans-serif';*/
/*}*/
h1, p {
    color: #434343;
}

button {
    cursor: pointer;

}

.btn {
    font-family: Geometria-Medium, 'sans-serif';
    background: #96A7CD;
    border-bottom: 4px solid #405B95;
    color: white;
}

.wrapper {
    max-width: 116rem;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 1rem;
}

.main {
    padding-top: 4rem;
    background: url("../img/main_background.jpg") no-repeat;
    background-size: cover;
    background-position-y: center;
    padding-bottom: 287px;
}

.main__text {
    margin: 37px 0;
}

.main__text-brand {
    max-width: 60rem;
    line-height: 1.4;
    margin-bottom: 8px;
    font-size: 4rem;
}

.main__text-brand span {
    color: #96A7CD;
    font-family: Geometria-Bold, 'sans-serif';
}

.main__text-description {
    max-width: 489px;
    font-size: 32px;
    line-height: 1.4;
}

.main__btn {
    font-size: 2rem;
    padding: 16px 6rem;
}

.products {
    padding-top: 10rem;
    padding-bottom: 74px;
}

.products__title {
    font-size: 36px;
    font-family: Geometria-Bold, 'sans-serif';
    margin-bottom: 4rem;
    color: #96A7CD;
}

.products__row-item:last-of-type {
    flex: 1;
}

.products__item {
    max-width: 260px;
    height: 100%;
}

.products__rows {
    gap: 4rem;
}

.products__row {
    width: 100%;
    gap: 4rem;
    justify-content: space-between;
}

.products__item-img {
    height: 34rem;
    width: 26rem;

}

.products__item-description {
    font-size: 16px;
    line-height: 1.4;
    min-height: 88px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.products__item-btn {
    padding: 16px 0;
    width: 100%;
    font-size: 20px;
}

.products__btn {
    padding: 16px 0;
    width: 26rem;
    margin: 6rem auto 0 auto;
    font-size: 2rem;
}

footer {
    padding: 5rem 0;
    background: #96A7CD;;
    color: white;
}

.footer__subtitle {
    font-size: 2rem;
    margin-bottom: 9px;
    font-family: Geometria, 'sans-serif';
}

.footer__contacts, .footer__markets {
    max-width: 26rem;
}

.footer__contacts-item img {
    width: 20px;
    height: 20px;
}

.footer__contacts-item p {
    font-size: 16px;
    color: white;
}
.modal {
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}
.modal__content {
    padding: 25px;
    background: white;
    width: 760px;
}
.modal-opened {
    display: flex!important;
}
.modal__title {
    font-size: 32px;
    line-height: 1.4;
}
.modal__block {
    padding: 0 70px;
}
.modal__markets {
    margin-top: 30px;
    margin-bottom: 50px;
}
.modal__markets-column {
    gap: 40px;
}
.modal__markets-column img {
    height: 35px;
}
.products__row {
    flex-wrap: wrap;
}
@media (max-width: 1450px) {
    .main {
        background-position-x: 50%;
    }
}
@media (max-width: 1180px) {
    .wrapper {
        max-width: 900px;
    }
    .products .wrapper {
        max-width: 700px;
    }
    .products__title {
        text-align: center;
    }
    .products__row-item:last-of-type {
        flex: unset;
    }
    .products__row {
        justify-content: center;
        gap: 100px;
    }
}
@media (max-width: 978px) {
    .wrapper {
        max-width: 70rem;
        padding: 0 2rem;
    }
    .footer__block {
        flex-wrap: wrap;
        gap: 3rem;
    }
}
@media (max-width: 750px) {
    .main__text-brand {
        font-size: 32px;
        max-width: 50rem;
    }
    .main__text-description {
        font-size: 26px;
    }

}
@media (max-width: 662px) {
    .main {
        background: url("../img/main_bg_mobile.jpg") no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        padding-bottom: 40rem
    }
    .products__row {
        gap: 4rem;
    }

}
@media (max-width: 610px) {
    .wrapper {
        max-width: 470px;
    }
    .products__item {
        max-width: 200px;
    }
    .products__item-img {
        height: 25rem;
        width: 20rem;
    }
    .products__item-btn {
        font-size: 17px;
    }
    .products__item-description {
        font-size: 14px;
        line-height: 1.3;
    }
}
@media (max-width: 480px) {

    .products__item-img {
        height: 19rem;
        width: 15rem;
    }
    .products__item-btn {
        font-size: 15px;
        padding: 10px 0;
    }
    .products__item {
        max-width: 150px;
    }
    .products__item-description {
        font-size: 12px;
        line-height: 1.4;
    }

    .footer__logo, .main__logo {
        width: 300px;
    }
    .main__text-brand {
        font-size: 22px;
        max-width: 35rem;
    }
    .main__text-description {
        font-size: 20px;
        max-width: 30rem;
    }
    .footer__logo{
        width: 250px;
    }
    #load {
        max-width: 200px;
        font-size: 16px;
        padding: 12px 0;
    }

}
@media (max-width: 380px) {
    .products__row {
        gap: 10px;
        justify-content: space-around;
    }
    .products__item {
        max-width: 13rem;
    }
    .products__item-img {
        height: 16rem;
        width: 13rem;
    }
    .products__item-description {
        font-size: 10px;
        line-height: 1.3;
        min-height: 70px;
        margin-bottom: 6px;
    }
    .main__logo {
        max-width: 250px;
    }
    .main__text-brand {
        font-size: 20px;
        max-width: 30rem;
    }
    .main__text-description {
        font-size: 16px;

    }
}